<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">
      Voice Verify
    </a>
  </div>
</nav>

<!-- content start -->
<section class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="main-heading">
        Voice Printed Agent Files
      </div>
    </div>
    <div class="col-sm-3" *ngFor="let agent of agents">
      <div class="speacker-stamp flex-div">
        <img class="mic-img" src="/assets/Group 930.svg">
        <div class="info" >
          <label>VOICE PRINT</label>
          <div class="name">{{agent.name}}</div>
        </div>
        <img (click)="playPauseAudio(agent, 'audio' + agent.id)" class="play-img" [src]="!agent.play ? '/assets/ic_play_circle_outline_24px.svg' : '/assets/pause.svg'">

        <audio controls [id]="'audio' + agent.id" style="display: none;" >
          <source [src]="agent.url" type="audio/x-wav">
          <source [src]="agent.url" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>

      </div>

      <div class="text-right" >
        <a href="javascript:void(0)" (click)="enroll(agent)" class="enroll">Enroll</a>
      </div>
    </div>
  </div>

  <div class="row second-row">
    <div class="col-sm-12">
      <div class="main-heading">
        IDENTIFICATION TEST
      </div>
    </div>

    <div class="col-sm-12">
      <table style="width: 100%;" >
        <tr>
          <th style="width: 3%">ID</th>
          <th style="width: 20%">CALL</th>
          <th style="width: 17%">KNOWN AGENT</th>
          <th style="width: 3%">&nbsp;</th>
          <th style="width: 15%">AGENT TO TEST FOR</th>
          <th style="width: 3%">&nbsp;</th>
          <th style="width: 15%">ACTION</th>
          <th style="width: 15%">RESULT</th>
        </tr>

        <tr *ngFor="let call of identificationList; let i = index" >
          <td style="width: 3%">#{{i+1}}</td>

          <td style="width: 20%">
            <div class="speacker-stamp flex-div">
              <img class="mic-img" src="/assets/Group 930.svg">
              <div class="info" >
                <div class="name">{{call.url.split('/')[(call.url.split('/').length-1)]}}</div>
              </div>
              
              <img (click)="playPauseAudio(call, 'audioTest' + i+1)" class="play-img" [src]="!call.play ? '/assets/ic_play_circle_outline_24px.svg' : '/assets/pause.svg'">

              <audio controls [id]="'audioTest' + i+1" style="display: none;" >
                <source [src]="call.url" type="audio/x-wav">
                <source [src]="call.url" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </div>
          </td>

          <td style="width: 17%">
            <div class="speacker-stamp flex-div">
              <div class="info" >
                <div class="name" style="line-height: 30px;" >{{call.name}}</div>
              </div>
            </div>
          </td>

          <td style="width: 3%">&nbsp;</td>

          <td style="width: 15%">
            <ng-select [items]="agents" placeholder="Select agent" bindLabel="name" bindValue="id" [(ngModel)]="call.agent" >
            </ng-select>
          </td>

          <td style="width: 3%">&nbsp;</td>

          <td style="width: 15%">
            <button (click)="verifyCall(call)" class="verification">run verification</button>
          </td>

          <td style="width: 15%">
            <div class="result" [ngClass]="{'verified': call.verfied}" >
              {{call.verfied ? 'Verified' : 'Not Verified'}}
            </div>
          </td>

        </tr>
      </table>
    </div>
  </div>
</section>
<!-- content end -->
