/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

body,html{
	background: #181d22;
}


/* Fonts start */
@font-face {
  font-family: 'HKGROTESK-REGULAR';
  src: URL('assets/fonts/HKGROTESK-REGULAR.TTF') format('truetype');
}

@font-face {
  font-family: 'HKGROTESK-Bold';
  src: URL('assets/fonts/HKGROTESK-BOLD.TTF') format('truetype');
}
/* Fonts end */

